*.pyc
*.swp
*.log
.ropeproject/
dist/
build/
hdidx.egg-info/
cext/_cext.c
cext/_mih.cpp

doc/
temp/
.idea/
.ipynb_checkpoints/
README.rst
hdidx/_cext.so
hdidx/_mih.so
hdidx/storage/dydb_storage.py
test-tmp/
tests/test-tmp/
tests/test_indexer_dydb.py
venv/
tests/hdidx/